.container {
  background: url('./assets/backgroundImage.jpg') no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-basis: 40%;
  padding: 10px;
  justify-content: center;
}
