.Card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Card::-webkit-scrollbar {
  display: none;
}
.CardContent {
  display: flex;
  flex-direction: column;
}
.closeButton span {
  margin: 0 !important;
}
.iconContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
.iconGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
.rightIcons {
  display: flex;
  gap: 5px;
}
.greyed {
  background-color: rgb(236, 234, 234);
}